---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import AdvancedPricing from '~/components/widgets/CustomSlider';

const metadata = {
  title: 'Pricing',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText
    title="Pricing that scales with you"
    callToAction={{
      target: '_blank',
      text: 'Get started free',
      href: 'https://dashboard.trieve.ai',
    }}
  />

  <!-- Pricing Widget ******************* -->

  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h3 class="text-lg capitalize text-fuchsia-600 dark:text-fuchsia-300">Step 1</h3>
    <h2 class="text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">
      Enter which products you intend on using
    </h2>
  </div>

  <AdvancedPricing client:only="react" />

  <CallToAction
    title="Still unsure? Derisk with a custom demo!"
    subtitle="Get a proof of concept with a validation schedule to evaluate Trieve"
    actions={[
      {
        variant: 'primary',
        text: 'Request demo',
        href: '/request-demo',
      },
    ]}
  />
</Layout>
